/* ------- variables --------*/
:root{
    /* colores */
    --yellow-1: #F9AB10;
    --blue-1: #3A7CA5;
    --white-1: #F5F5F5;
    --dark-blue-1: #15425B;
    --grey-1:#3D3D3D;
    --grey-2:#ADADAD;
    --red: #F24211;
    --pink:#FF9966;
    --green-1:#66CC66;
    --green-2:#90CC69;
    /* espaciado */
    --space:10px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-1);
}

/* ------- Nav Bar --------*/
.menu{
    background-color: var(--blue-1);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0,5px solid #fff;
    box-shadow: 5px 0 10px var(--grey-1);
}
nav img{
    margin-top:30px ;
    width: 220px;
    height: 69,5px;
    padding-left: 30px;
} 
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 5px;
    margin: 0 5px;
}
.menu_items li a{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: var(--yellow-1);
}
.menu_items li.active{
    background-color: var(--blue-1);
    color: #fff ;
    font-weight: bold; 
}
.menu_items li a:hover{
    color: #fff;
    font-weight: bold;   
    background-color: #ffda7cc7;
    transition: .4s;
    border-radius: 30px;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: var(--yellow-1);
    cursor:pointer;
    display: none;
}
ul.show{
    top:65px;
}
@media screen and (max-width: 952px) {
    .nav img{
        width: 200px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: var(--grey-1);
        top:-100vh;
        text-align: center;
        transition: all .2s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color:#fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: #fff;
    }
    .nav img{
        width: 220px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100%-65px);
    }
}
/* ------- Sesión1 --------*/
.section-1{
    display: flex;
    background-image: url("../assets/images/banner.jpg");
    width: 100%;
}
.section-1 h4{
    color: var(--white-1);
}
.section-1 .content{
    max-width: 100%;
    padding: 10%;
    text-align: left;
    margin-bottom: 35px;
}
.content ul{
    margin-top: var(--space);
    margin-left: -10px;
}
.img_content {
    padding: 10%;
    text-align: center;
    margin: auto; 
}
.img_content .img{
    width: 350px;
    height: 350px;
    border-radius: 0;
    box-shadow: 10px 10px 10px var(--grey-1);
}
.btn_primary{
    display: flex;
    list-style: none;

}
.btn_primary li{
    border-radius: 6px;
    margin: 0 5px;
}
.btn_primary li button{
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    color: var(--white-1);
    background-image: url("../assets/images/banner.jpg");    
    border-style: solid;
    border-color: none;
    border-radius: 15px;
    border-width: 1px;
}
.btn_primary li button:hover{
    color: var(--white-1);
    font-size: 18px;   
    background-color:var(--dark-blue-1);
    transition: .2s;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

hr{
height: 2px;
width: 80%;
margin-left: 10%;
margin-right: 10%;
background-color: var(--dark-blue-1);
}
/* ------- Sesión2 --------*/
.section-2 h4,h6{
    text-align: center;
    justify-content: center;
    margin: var(--space);
}
.subtitle{
    margin:0;
    color: black;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}
.texto-img{
    color: var(--blue-1);
    margin: 7px 0;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 1px var(--grey-1);
    margin-top: 0;
}
.line-division{
    width: 80%;
    height: 2px;
    background-color: var(--yellow-1);
}

/*estilos de materialize*/

.carousel{
    min-height: 500px;
}
.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}
.carousel .carousel-item img{
    min-width: 300%;
    height: 210%;
    object-fit: cover;
    position: absolute;
    top: -80px;
    z-index: -1;
    border-radius: 15px;
}
.carousel .indicators .indicators-item{
    margin: 0 15px;
}

/* ------- Sesión3 --------*/

.title{
    text-align: center;
    margin-top: 40px;
}
.menciones{
    padding-top: 5%;
    padding-left: 45%;
    padding-right: 45%;
    text-align: center;
    display: flex;
    }
.menciones-nombres{
    padding-top: 5%;
    padding-right: 3%;
    text-align: center;
    display: flex;
    }
.mencion{
    padding: var(--space);
    margin-top: 10px;
    margin-left: 15px;
    }
.mencion:hover{
    padding: 15px;
    margin-top: 15px;
    margin-left: 20px;
}
.mencion .content{
    border-radius: 15px;
    background-color: white;
    padding: var(--space);
    box-shadow: 0 0 4px  var(--blue-1);
    font-weight: bold;
    justify-content: center;
    }
.mencion .content:hover{
    box-shadow: 0 0 8px  var(--dark-blue-1);
}

.mencion .content h4{
    justify-content: center;
    color: var(--grey-1);
}
.img_content img{
    justify-content: center;
    border-radius: 100px;
}
.mencion .content h6,.mencion .content p{
    text-align: center;
    user-select: none;
}
.mencion .content h6{
    color: var(--blue-1);
    font-weight: bold;
}
.mencion .content button{
    margin-bottom: 15px;
    margin-top: 15px;
    user-select: none;
    background: #D6DAD2;
    border-color: #D6DAD2;
    color: var(--blue-1);
}    
.mencion .content button:hover{
    background: var(--yellow-1) ;
    font-weight: bold;
    border-color: var(--yellow-1);
    cursor: pointer;
}
.mencion .content ul{
justify-content: center;
}

@media (max-width:750px) {
    .menciones-nombres{
    display: inherit;
    }
    .content button{
        margin-bottom: 15px;
    } 
    .section-1{
        display: inherit;
    }
    .section-1 .content{
        text-align: center;
        align-items: center;
    }
    .img_content{
        justify-content: center;
    }
    .img_content .img{
        width: 250px;
        height: 250px;
    }
    .section-1 .content ul{
        margin-left: 30%;
    }  
}

/* ------- Footer --------*/
.img_isotipo{
    border-radius:100% ;
    width: 80px;
    height: 80px;
    margin-bottom: -50px;
    margin-left: 48%;
}
.foot{
    display: flex;
    align-content: center;
    text-align: center;
    margin-left: 50% ;
}

.links{
    margin-left: 100px;
}

.container.foot ul{
    margin-left: 37.5%;
}

a.RRSS{
    font-size: 3rem;
    margin: 15px;
    color: var(--white-1);
}

.icon.brands{
    font-family: 'Font Awesome 5 Brands';
}